/* slider css */
html,
body {
  position: relative;
}

body {
  margin: 0;
  padding: 0;
}

swiper-container {
  width: 100%;
}

swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.bottom-150 {
  position: absolute;
  bottom: 150px;
}

@media (max-width: 767px) {
  .bottom-150 {
    position: absolute;
    bottom: 240px;
  }
}

/* Slider image width */
.sliderImg-wdith {
  width: 60%;
}

@media (max-width: 767px) {
  .sliderImg-wdith {
    width: 100%;
  }
}

/* Input feild width */
.input-width {
  width: 20%;
}

@media (max-width: 767px) {
  .input-width {
    width: 100%;
  }
}

/* input div width */
.input-div-width {
  width: 100%;
  margin: 0 auto;
  padding: 0 100px;
}

@media (max-width: 767px) {
  .input-div-width {
    width: 100%;
    margin: 0 auto;
  }
}

.bottom-90 {
  position: absolute;
  bottom: 90px;
}

@media (max-width: 767px) {
  .bottom-90 {
    position: absolute;
    bottom: 20px;
  }
}

/* Hero div height */
.custom-height-div {
  height: 700px; /* Default height for large devices */
}

@media (max-width: 767px) {
  .custom-height-div {
    height: 550px; /* Height for small devices */
  }
}

@media (min-width: 2560px) {
  .custom-height-div {
    height: 850px; /* Height for devices with a width of 1400px or greater */
  }
}

/*  width for logo */
.custom-width-logo {
  height: 150px; /* Default height for large devices */
}

@media (max-width: 767px) {
  .custom-width-logo {
    height: 135px; /* Height for small devices */
  }
}

/* input qauntity */
.quanitity {
  position: absolute;
  left: 20px;
  top: 18%;
}

#amountNum::placeholder {
  color: #ffffe3;
}

.method {
  position: absolute;
  right: 20px;
}

.style-border {
  border-bottom: 1px dotted #735043;
}

.font-medium {
  font-weight: 600;
}

.bg-gray {
  background-color: #9d9d9c;
}
.bg-gray:hover {
  background-color: #9d9d9c;
}
.bg-green {
  background-color: #aabf0b;
}
.bg-green:hover {
  background-color: #aabf0b;
}

.hidden {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .hidden {
    display: none;
  }
}

.offer-width {
  width: 700px;
  height: 400px;
}

@media (max-width: 767px) {
  .offer-width {
    width: 300px;
    height: 00px;
  }
}

.img-width {
  width: 100%;
}

/* offer section height */
.offerSection-height {
  height: 380px;
}
@media (max-width: 767px) {
  .offerSection-height {
    height: 240px;
  }
}

/*  offer section padding top*/
.padding-top {
  padding-top: 140px;
  padding-bottom: 70px;
}
@media (max-width: 767px) {
  .padding-top {
    padding-top: 10px;
  }
}
/* postion styles for tab button */

.position-tab {
  position: absolute;
  top: -40px;
}

@media (max-width: 767px) {
  .position-tab {
    position: absolute;
    top: -23px;
  }
}

/* tab button style */
.tab-button {
  background-color: #4bcfc6;
  color: #ffffe3;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 10px 10px 0px 0px;
  font-size: 14px;
  border: none;
}

@media (max-width: 767px) {
  .tab-button {
    padding: 4px 8px;
    border-radius: 10px 10px 0px 0px;
    font-size: 10px;
  }
}

/* tab section infos styles */
.small-pink-box {
  width: 130px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .small-pink-box {
    width: 70px;
  }
}

/* tab section slider img styles */
.tab-slider-img {
  width: 120px;
  height: 110px;
  object-fit: cover;
  border-radius: 6px;
}

@media (max-width: 767px) {
  .tab-slider-img {
    width: 70px;
    height: 70px;
  }
}

/* slider img arrow button styles */

.arrow-btn-right {
  width: 20px;
  position: absolute;
  top: 40px;
  right: -35px;
  cursor: pointer;
}
.arrow-btn-left {
  width: 20px;
  position: absolute;
  top: 40px;
  left: -35px;
  cursor: pointer;
}

@media (max-width: 767px) {
  .arrow-btn-right {
    width: 10px;
    top: 30px;
    right: -20px;
  }
  .arrow-btn-left {
    width: 10px;
    top: 30px;
    left: -20px;
  }
}
