/* slider css */
html,
body {
  position: relative;
}

body {
  margin: 0;
  padding: 0;
}

swiper-container {
  width: 100%;
}

swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.bottom-150 {
  position: absolute;
  bottom: 150px;
}

@media (max-width: 767px) {
  .bottom-150 {
    position: absolute;
    bottom: 240px;
  }
}

.input-width {
  width: 25%;
}

@media (max-width: 767px) {
  .input-width {
    width: 100%;
  }
}
.input-div-width {
  width: 100%;
  margin: 0 auto;
  padding: 0 100px;
}

@media (max-width: 767px) {
  .input-div-width {
    width: 100%;
    margin: 0 auto;
  }
}

.bottom-90 {
  position: absolute;
  bottom: 90px;
}

@media (max-width: 767px) {
  .bottom-90 {
    position: absolute;
    bottom: 20px;
  }
}

/* Hero div height */
.custom-height-div {
  height: 700px; /* Default height for large devices */
}

@media (max-width: 767px) {
  .custom-height-div {
    height: 550px; /* Height for small devices */
  }
}

@media (min-width: 2560px) {
  .custom-height-div {
    height: 850px; /* Height for devices with a width of 1400px or greater */
  }
}

/*  width for logo */
.custom-width-logo {
  height: 200px; /* Default height for large devices */
}

@media (max-width: 767px) {
  .custom-width-logo {
    height: 135px; /* Height for small devices */
  }
}
